@mixin space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex{
    display: flex;
}

@mixin title-big {
    font-size: 36px;
    font-weight: bold;

}
@mixin floating {
    border-radius: 30px;
    box-shadow: 4px 3px 2px black;
}
@mixin space-evenly{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@mixin grid($columns: 4) {
    display: flex;
    flex-wrap: wrap;
     
  
    > * {
      width: calc(100% / $columns) - 1;      
      box-sizing: border-box; 
    }
  }