@import "partials/reset";
@import "partials/font";
@import "partials/colors";
@import "partials/spaziature";
@import "partials/bottoni";
@import "partials/mixins";
@import "partials/animazioni";

body {
  color: $text-light;
}
header {
  background-color: $bg-hero;
  @include space-evenly;
  
  div{
    div{
        @include space-evenly
    }
    p{
        text-align: center;
    }
  }
}
main {
  background-color: $secondary;
}
nav {
    padding: 20px;
    background-color: $primary;
    div {
        
        @include space-between;
        img {@include cadomalato($duration: 1s,
            $delay: 0.2s,);
            @include floating;
        }
        ul { gap: 170px;
            justify-content: center;
            flex-grow: 1;
        
            @include flex;
            li {
                a {
                    font-size: $size-lg;
                    text-decoration: none;
                }
            }
        }
    }
}

h1 {
  @include title-big;
  color: $secondary;
}
section{
    background-color: $text-light;
    text-align: center;
    @include grid(4);
}    